@import '~@/assets/style/format.scss';

.header {
  height: $headerHeight;
  width: 100%;
  // .fix {
    // width: 100%;
    // height: $headerHeight;
    background: #000;
  // }
}
.header-cell {
  height: $headerHeight;
  line-height: $headerHeight;
}
.logo {
  background-image: url(~@/assets/images/logo.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left center;
  // width: 170px;
  height: $headerHeight;
  line-height: $headerHeight;
  display: inline-block;
  color: #fff;
  text-indent: 60px;
  vertical-align: middle;
  text-align: left;
  margin-right:20px;
}
.login {
  height: $headerHeight;
  line-height: $headerHeight;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding:0 10px;
  font-size: 14px;
  cursor: pointer;
}

.protal-header {
  @extend .block-main;
}