// $headerHeight: 60px;

.waiting {
  margin: 70px auto;

  .imgEle {
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 90%;
    background-image: url(~@/assets/images/waiting.svg);
    display: inline-block;
  }

  .content {
    text-align: left;

    h1 {
      color: #434e59;
      font-size: 72px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 24px;
      margin-top: 0;
    }

    .desc {
      color: rgba(0, 0, 0, .45);
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    .actions {
      button:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}